body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #f4f4f4;
  color: #333;
}

header {
  background: #303139;
  color: #fff;
  padding: 2rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center; 
  gap: 50px;
}

.profile_image_container {
  text-align: left;
}

.profile_image {
  border-radius: 50%;
  width: 112px;
  height: 112px;
  overflow: hidden;
}

.profile_text {
  text-align: left;
}

.social_links {
  background: #444;
  padding: 0.5rem;
  border-radius: 8px;
}

.social_links a {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem;
}

.social_links a img {
  width: 48px;
  height: 48px;
}

nav {
  background: #444;
  padding: 0.5rem;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  margin: 0 1rem;
}

nav a {
  color: #fff;
  text-decoration: none;
}

section {
  padding: 2rem;
  background: #fff;
  margin: 1rem;
  border-radius: 8px;
}


h2 {
  border-bottom: 2px solid #ccc;
  padding-bottom: 0.5rem;
}

footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 1rem;
}
